.menu {
  list-style: none;
  display: flex;
  font-weight: bold;
  font-size: 40px;
  //   color: tomato;
  justify-self: center;
  justify-content: flex-start;

  margin: 0;
  padding: 20px 10px;

  border-bottom: 1px solid silver;
}

.menu_item {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

.menu_link {
  text-decoration: none;
  list-style: none;

  &:hover {
    color: rgba(240, 137, 119, 0.865);
  }
}

.menu_link:global(.active) {
  color: tomato;
}
